<%= form_with(model: task) do |form| %>
  <div class="flex">
    <%= form.text_field :description, placeholder: "What needs to be done?", class: "text-xl placeholder:italic placeholder:text-slate-400 placeholder:font-thin inline-block rounded-tl-md border-0 outline-none px-3 py-2 grow overflow-hidden" %>
    <%= form.submit "Add", class: "btn rounded-none rounded-tr-md py-2 bg-white text-rose-500" %>
  </div>
<% end %>