<h1 class="text-8xl text-center text-rose-400 font-thin mb-4">todos</h1>
<section class="bg-white rounded shadow-md">
  <%= turbo_frame_tag "new-task" do %>
    <%= render "form", task: @task %>
  <% end %>
  <div class="p-2">
    <h1 class="sr-only">Tasks</h1>

    <div data-controller="tasks" id="tasks">
      <%= render @tasks %>
    </div>
  </div>
</section>
<footer class="relative">
  <p class="float-left">
    <span class="float-left" id="tasks-to-be-completed"><%= @tasks_to_be_completed_count %></span>
    &emsp;items left
  </p>
  <ul class="absolute inset-x-0 flex flex-row gap-2 justify-center">
    <li><a href="#">All</a></li>
    <li><a href="#">Active</a></li>
    <li><a href="#">Completed</a></li>
  </ul>
  <button class="float-right">Clear Completed</button>
</footer>